extends layout

block body
  h1 Jade - node template engine
  #container.col
    if youAreUsingJade
      p You are amazing
    else
      p Get on it!
    p.
      Jade is a terse and simple
      templating language with a
      strong focus on performance
      and powerful features.
    button(id="user_list").
      View users
    button(id="history_list").
      View history
    button(id="refresh_total_messages").
      Refesh messages
    button(id="view_channels").
      View channels
  div#information_list